html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasContainer {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

canvas {
    box-shadow: 0 0 15px -2px #cccccc;
    border-radius: inherit;
}